html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    color: #fff;
    background-color: black;
}

.carousel-item {
    height: 70vh;
    min-height: 750px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainNavbar {
    padding-left: 50px;
    padding-top: 20px;
}

.navbar-dark .navbar-brand {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

i {
    color: #fff;
}

.card1 {
    background-color: black;
}

.card-header {
    background-color: aqua;
}

p {
    color: #fff;
}

h2 {
    font-weight: 700;
}

.card {
    background-color: aqua;
}